.landing-header-bar {
    border: solid 1px red;
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    width: 100%;
}

.landing-header-links{
    display: flex;
    justify-content: space-between;
    width: 150px;
    border: solid 1px green;
    
}