
.register-container{
    height: 100vh;
    width: 100vw;
}

.register-header-container{
    background: url('../Images/city-1283300_1920.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-header-container h2{
    font-size: 1.75em;
    line-height: 1.25em;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
}

.register-form{
    background: #F0EBD8;
    z-index: 1;
    width: 50%;
    min-height: fit-content;
    min-width: fit-content;
    height: 30vh;
    display: flex;
    flex-direction: column;
}

.form-input-row{
    margin: 5px auto;
}

.form-input-row input{
    font-size: 1em;
    line-height: 1.375em;
    padding: 5px;
    min-width: 300px;
}

.registration-submit-btn {
    font-size: 1em;
    line-height: 1.375em;
    width: 100px;
    border-radius: 5px;
}

.form-input-row-error{
    margin: 5px auto;
    color: firebrick;
    font-size: 1em;
    line-height: 1.375em;
}

.form-input-row-error-hidden{
    display: none;
}